@use 'variaveis';

.hero {
    padding: 1vw;
    min-height: 80vh;
    background-image: url(../images/hero_img.png);
    text-align: center;
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_img.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__history {
        margin-top: 15px;  
        font-weight: 400;
        padding: 0 400px 0 ;
        line-height: 1.5;
        margin-bottom: 35em;
        margin-left: 12px;

        @media (max-width: 768px) {
            font-size: 8px;
            padding: 0 50px;
            margin-bottom: 105px;
        }
    }

    .button {
        height: 50px;
        padding: 15px 20px;

        @media (max-width: 768px) {
            font-size: 10px;
            padding: 8px 10px;
            height: 30px;
            letter-spacing: 0;
        }
    }

    p {
        font-size: 25px;
        margin-top: 5px;
        @media (max-width: 768px) {
            font-size: 10px;
        }
    }
}